In [3]:
import pandas as pd
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
#pd.read_csa('file', dtype={"column_1":int,})
#df.column=df.column.astype(int)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
cast.describe()

               year             n
count  3.611212e+06  2.231970e+06
mean   1.988072e+03  1.680839e+01
std    2.786198e+01  3.193992e+01
min    1.894000e+03  1.000000e+00
25%    1.969000e+03  5.000000e+00
50%    2.000000e+03  1.000000e+01
75%    2.011000e+03  2.100000e+01
max    2.023000e+03  3.361300e+04

In [5]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3611212 entries, 0 to 3611211
Data columns (total 6 columns):
title        object
year         int64
name         object
type         object
character    object
n            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 165.3+ MB

In [ ]:
#types
#Identifiers - not numbers
#categoricals - categories 
#ordinals - defined order

In [ ]:
#df.dropna(axis=1, how='all)
#df.fillna('fill')

In [ ]:
#df.replace({"UI":["EA", "EACH", "PR"]}, {["UI":"Each", "Each", "Pair"]})

#pd.merge(ages,weights, left_on="cats", right_on="cats", how="outer")

#from fuzzywuzzy import fuzz
#fuzz.ratio("this is a test", "this is a test!")